.intro {
    width: 90vw;
    max-width: 1500px;
    height: 100vh;
}
.intro-title {
    color: var(--contrast);
    font-size: 85px;
    padding-top: 30vh;
}
.intro-name {
    color: var(--accent);
}
.intro-info {
    color: var(--contrast-dark);
    font-size: 20px;
    max-width: 55%;
    margin-bottom: 50px;
}
.intro-contact {
    display: flex;
    color: var(--accent);
    width: 150px;
    height: 50px;
    border: 1px solid var(--accent);
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}
.intro-icon {
    font-size: 20px;
    padding-right: 5px;
}
.intro-contact-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 992px) {
    .intro-title {
        line-height: 1;
        padding-top: 25vh;
    }
    .intro-info {
        max-width: 85%;
        margin-bottom: 30px;
    }
}